unpackaged/main/default/flows/FSAA__Self_Service_Scheduling_AuthenticationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendAuthenticationEmail</name>
        <label>Send Authentication Email</label>
        <locationX>450</locationX>
        <locationY>406</locationY>
        <actionName>FSAA__aaNewBookingSendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>valueFromFlow</name>
            <value>
                <stringValue>{!EmailAddress}#{!EmailSubject}#{!EmailBody}#{!OrgWideEmailId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FSAA__aaNewBookingSendEmailAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Organization_wide_email_Id</name>
        <label>Assign Organization-wide email Id</label>
        <locationX>279</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OrganizationWideFromEmailAddress_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendAuthenticationEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Authenticate by Email?</description>
        <name>EmailAuthentication</name>
        <label>Authenticate by Email?</label>
        <locationX>557</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEmailAuthentication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrganizationWideFromEmailAddress_Object</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Self-Service Scheduling Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Self-Service Scheduling Authentication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OrganizationWideFromEmailAddress_Object</name>
        <label>Get Organization-wide From Email Address Object</label>
        <locationX>280</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Organization_wide_email_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replace display name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>438</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>EmailAuthentication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccessCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your access code is: {!AccessCode}. To book your appointment, we need to make sure that this is you. Enter the code to continue.</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Verify your email</stringValue>
        </value>
    </variables>
    <variables>
        <name>ExistingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Boolean value for either email or SMS</description>
        <name>isEmailAuthentication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MobilePhoneNumber</description>
        <name>MobilePhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMScontactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
