unpackaged/main/default/flows/FSAA__AA_New_Booking_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SelfServiceSchedulingAuthenticationAction</name>
        <label>Authentication Action</label>
        <locationX>1416</locationX>
        <locationY>261</locationY>
        <actionName>FSAA__aaNewBookingVerifyTokenController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VerifyAccessCode</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>verificationCode</name>
            <value>
                <stringValue>{!UserEnteredAccessCode}#{!SystemGeneratedAccessCode}#{!MaxIncorrectAccessCode}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FSAA__aaNewBookingVerifyTokenController</nameSegment>
        <outputParameters>
            <assignToReference>VerificationResultText</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SelfServiceSchedulingAuthenticationChannelAction</name>
        <label>Authentication Channel Action</label>
        <locationX>890</locationX>
        <locationY>71</locationY>
        <actionName>FSAA__aaNewBookingSendTokenController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IncorrectAccessCodeCount1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>valueFromFlow</name>
            <value>
                <stringValue>{!EmailAddress}#{!MobilePhoneNumber}#{!AuthenticationFlow}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FSAA__aaNewBookingSendTokenController</nameSegment>
        <outputParameters>
            <assignToReference>SystemGeneratedAccessCode</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Work_Types</name>
        <label>Assign Work Types</label>
        <locationX>1071</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>WorkTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkTypes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OperatingHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncorrectAccessCodeCount1</name>
        <label>Incorrect Access Code Count</label>
        <locationX>1032</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>MaxIncorrectAccessCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authentication_LWC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncorrectAccessCodeCount2</name>
        <label>Incorrect Access Code Count</label>
        <locationX>1276</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>MaxIncorrectAccessCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaxIncorrectAccessCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authentication_LWC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset the message shown when customers ask to resend the access code.</description>
        <name>VerificationMessageReset</name>
        <label>Verification Message Reset</label>
        <locationX>862</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>VerificationResultText</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SelfServiceSchedulingAuthenticationChannelAction</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SchedulingHorizonUnits_Days</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Days</stringValue>
        </value>
    </constants>
    <constants>
        <name>SchedulingHorizonUnits_Months</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Months</stringValue>
        </value>
    </constants>
    <constants>
        <name>SchedulingHorizonUnits_Weeks</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Weeks</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Edit_Details</name>
        <label>Edit Details?</label>
        <locationX>604</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Create_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EditWorkType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkTypes_LWC</targetReference>
            </connector>
            <label>Edit Work Type</label>
        </rules>
        <rules>
            <name>Yes_EditAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_LWC</targetReference>
            </connector>
            <label>Edit Address</label>
        </rules>
        <rules>
            <name>Yes_EditAppointmentSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AppointmentSelection_LWC</targetReference>
            </connector>
            <label>Edit Appointment Selection</label>
        </rules>
        <rules>
            <name>Yes_EditContactDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactDetails_LWC</targetReference>
            </connector>
            <label>Edit Contact Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewContact1</name>
        <label>New Contact?</label>
        <locationX>1416</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>UpcomingAppointments_LWC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NewContact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkTypes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewContact2</name>
        <label>New Contact?</label>
        <locationX>317</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>Summary_LWC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NewContact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactDetails_LWC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewContact3</name>
        <label>New Contact?</label>
        <locationX>605</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>Summary_LWC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NewContact3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResendAccessCode</name>
        <label>Resend Access Code?</label>
        <locationX>1030</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>SelfServiceSchedulingAuthenticationAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ResendAccessCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCodeResent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificationMessageReset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyAccessCode</name>
        <label>Verify Access Code?</label>
        <locationX>1419</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>IncorrectAccessCodeCount2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VerifyAccessCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationResultText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Self-Service Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Self-Service Scheduling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>855</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Summary_LWC</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLatitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLongitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WorkOrder</name>
        <label>Create Work Order</label>
        <locationX>1038</locationX>
        <locationY>646</locationY>
        <assignRecordIdToReference>WorkOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Summary_LWC</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1628</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewContact1</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MobilePhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>City</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Country</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>State</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Street</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhoneNumber</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OperatingHours</name>
        <label>Get Operating Hours</label>
        <locationX>934</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SchedulingPolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold Appointments Calendar</stringValue>
            </value>
        </filters>
        <object>OperatingHours</object>
        <outputAssignments>
            <assignToReference>OperatingHoursID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SchedulingPolicy</name>
        <label>Get Scheduling Policy</label>
        <locationX>781</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkTypes_LWC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer First</stringValue>
            </value>
        </filters>
        <object>FSL__Scheduling_Policy__c</object>
        <outputAssignments>
            <assignToReference>SchedulingPolicyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkTypes</name>
        <label>Get Work Types</label>
        <locationX>1210</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShouldAutoCreateSvcAppt</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AppointmentSelection_LWC</name>
        <label>Appointment Selection</label>
        <locationX>327</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewContact2</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingAppointmentSelection</name>
            <extensionName>FSAA:aaNewBookingSlotSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sechedulingHorizonValue</name>
                <value>
                    <elementReference>NumberOfSchedulingHorizonUnits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>operatingHoursId</name>
                <value>
                    <elementReference>OperatingHoursID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyId</name>
                <value>
                    <elementReference>SchedulingPolicyID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingHorizonUnit</name>
                <value>
                    <elementReference>SchedulingHorizonUnits_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedService</name>
                <value>
                    <elementReference>WorkTypeTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ArrivalWindowMethod</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxDayToGetAppointmentSlots</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dueDate</name>
                <value>
                    <elementReference>DueDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>earliestStartPermitted</name>
                <value>
                    <elementReference>EarliestStartPermitted</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ArrivalWindowEnd</assignToReference>
                <name>ArrivalWindowEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ArrivalWindowStart</assignToReference>
                <name>ArrivalWindowStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocalArrivalWindowEndTime</assignToReference>
                <name>ActualArrivalWindowEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocalArrivalWindowStartTime</assignToReference>
                <name>ActualArrivalWindowStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DueDate</assignToReference>
                <name>dueDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EarliestStartPermitted</assignToReference>
                <name>earliestStartPermitted</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Authentication_LWC</name>
        <label>Authentication</label>
        <locationX>1157</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ResendAccessCode</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingAuthentication</name>
            <extensionName>FSAA:aaNewBookingVerificationStep2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>resendCodeTime</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>failureMessage</name>
                <value>
                    <elementReference>VerificationResultText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerPhone</name>
                <value>
                    <elementReference>MobilePhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerEmail</name>
                <value>
                    <elementReference>EmailAddress</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserEnteredAccessCode</assignToReference>
                <name>userToken</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isCodeResent</assignToReference>
                <name>isResendCodePressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AuthenticationChannel_LWC</name>
        <label>Authentication Channel</label>
        <locationX>756</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelfServiceSchedulingAuthenticationChannelAction</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingAuthenticationChannel</name>
            <extensionName>FSAA:aaNewBookingVerification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPhone</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>authenticationFlowName</name>
                <value>
                    <elementReference>AuthenticationFlow</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailAddress</assignToReference>
                <name>customerEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MobilePhoneNumber</assignToReference>
                <name>customerPhone</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactDetails_LWC</name>
        <label>Contact Details</label>
        <locationX>475</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewContact3</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingContactDetails</name>
            <extensionName>FSAA:aaNewBookingContactDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactEmail</name>
                <value>
                    <elementReference>EmailAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactFirstName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactMobile</name>
                <value>
                    <elementReference>MobilePhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactSurName</name>
                <value>
                    <elementReference>LastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailAddress</assignToReference>
                <name>contactEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FirstName</assignToReference>
                <name>contactFirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LastName</assignToReference>
                <name>contactSurName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MobilePhoneNumber</assignToReference>
                <name>contactMobile</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_LWC</name>
        <label>Location</label>
        <locationX>442</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AppointmentSelection_LWC</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingLocation</name>
            <extensionName>FSAA:aaNewBookingAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLocation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Latitude</assignToReference>
                <name>userLatitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Longitude</assignToReference>
                <name>userLongitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PostalCode</assignToReference>
                <name>zipCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_LWC</name>
        <label>Summary</label>
        <locationX>962</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Details</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingSummary</name>
            <extensionName>FSAA:aaNewBookingConfirmation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>arrivalWindowEndTime</name>
                <value>
                    <elementReference>ArrivalWindowEnd</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>arrivalWindowStartTime</name>
                <value>
                    <elementReference>ArrivalWindowStart</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerEmail</name>
                <value>
                    <elementReference>EmailAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerFirstName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerLastName</name>
                <value>
                    <elementReference>LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerPhone</name>
                <value>
                    <elementReference>MobilePhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedServiceName</name>
                <value>
                    <elementReference>WorkTypeTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showExactArrivalTime</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderId</name>
                <value>
                    <elementReference>WorkOrderID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyId</name>
                <value>
                    <elementReference>SchedulingPolicyID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actualArrivalWindowEndTime</name>
                <value>
                    <elementReference>LocalArrivalWindowEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actualArrivalWindowStartTime</name>
                <value>
                    <elementReference>LocalArrivalWindowStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dueDate</name>
                <value>
                    <elementReference>DueDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>earliestStartTime</name>
                <value>
                    <elementReference>EarliestStartPermitted</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BackToStep</assignToReference>
                <name>step</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpcomingAppointments_LWC</name>
        <label>Upcoming Appointments</label>
        <locationX>1423</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_WorkTypes</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingUpcomingAppointments</name>
            <extensionName>FSAA:aaNewBookingHome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactID</name>
                <value>
                    <elementReference>ContactID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkTypes_LWC</name>
        <label>Work Types</label>
        <locationX>612</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_LWC</targetReference>
        </connector>
        <fields>
            <name>SelfServiceSchedulingWorkTypes</name>
            <extensionName>FSAA:aaNewBookingServices</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypes</name>
                <value>
                    <elementReference>WorkTypes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkTypeID</assignToReference>
                <name>selectedWorkTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeTitle</assignToReference>
                <name>selectedWorkTypeName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>371</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AuthenticationChannel_LWC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthenticationFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Self_Service_Scheduling_AuthenticationFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>BackToStep</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestStartPermitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCodeResent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>LocalArrivalWindowEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalArrivalWindowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>MaxIncorrectAccessCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MobilePhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfSchedulingHorizonUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OperatingHoursID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OperatingHoursRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>OperatingHoursRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OperatingHours</objectType>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SchedulingPolicyRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SchedulingPolicyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL__Scheduling_Policy__c</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemGeneratedAccessCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEnteredAccessCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationResultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WorkTypeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
