unpackaged/main/default/flows/OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Checkout_Session_Id</name>
        <label>Set Checkout Session Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCheckoutSession.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkout_Session_State</name>
        <label>Set Checkout Session State</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCheckoutSession.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Checkout_Session_State</name>
        <label>Set Next Checkout Session State</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCheckoutSession.NextState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Checkout_Session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_State</name>
        <label>New State?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Next_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_State_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkout_Session_State</targetReference>
            </connector>
            <label>New State Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_State</name>
        <label>Next State?</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Update_Checkout_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Next_State_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Checkout_Session_State</targetReference>
            </connector>
            <label>Next State Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Entry Subflow - Update Checkout State {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Entry Subflow - Update Checkout State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Checkout_Session</name>
        <label>Update Checkout Session</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <inputReference>UpdatedCheckoutSession</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Checkout_Session_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The next state expected after the new state that is set</description>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
</Flow>
