unpackaged/main/default/flows/OMSOrderEntry__Order_Entry_Subflow_Shipping_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Checkout_Delivery_Method</name>
        <label>Set Checkout Delivery Method</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>setCheckoutDeliveryMethod</actionName>
        <actionType>setCheckoutDeliveryMethod</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryMethodId</name>
            <value>
                <elementReference>DeliveryMethod.selectedDeliveryMethodId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>setCheckoutDeliveryMethod</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Order Entry Subflow - Shipping Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Entry Subflow - Shipping Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Point_Address</name>
        <label>Get Contact Point Address</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cart_Delivery_Group_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShippingAddress.selectedAddressId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart_Delivery_Group_Address</name>
        <label>Update Cart Delivery Group Address</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Shipping_Instructions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliverToCity</field>
            <value>
                <elementReference>Get_Contact_Point_Address.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToCountry</field>
            <value>
                <elementReference>Get_Contact_Point_Address.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToGeocodeAccuracy</field>
            <value>
                <elementReference>Get_Contact_Point_Address.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLatitude</field>
            <value>
                <elementReference>Get_Contact_Point_Address.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLongitude</field>
            <value>
                <elementReference>Get_Contact_Point_Address.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToName</field>
            <value>
                <elementReference>Get_Contact_Point_Address.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToPostalCode</field>
            <value>
                <elementReference>Get_Contact_Point_Address.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToState</field>
            <value>
                <elementReference>Get_Contact_Point_Address.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToStreet</field>
            <value>
                <elementReference>Get_Contact_Point_Address.Street</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Instructions</name>
        <label>Update Shipping Instructions</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Set_Checkout_Delivery_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>DeliveryMethod.selectedDeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingInstructions</field>
            <value>
                <elementReference>ShippingAddress.specialInstructions</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <screens>
        <name>Shipping_Details</name>
        <label>Shipping Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Point_Address</targetReference>
        </connector>
        <fields>
            <name>omsOrderEntryHeaderS3</name>
            <extensionName>OMSOrderEntry:headerContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>headerCardIconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <elementReference>headerCardTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepsName</name>
                <value>
                    <elementReference>pathValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <extensionName>OMSOrderEntry:shippingAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>storeOrNetworkId</name>
                <value>
                    <elementReference>storeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideSpecialInstructions</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedAddressId</name>
                <value>
                    <elementReference>ShippingAddress.selectedAddressId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DeliveryMethod</name>
            <extensionName>OMSOrderEntry:deliveryMethod</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDeliveryMethodId</name>
                <value>
                    <elementReference>DeliveryMethod.selectedDeliveryMethodId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shipping_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headerCardIconName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>standard:webcart</stringValue>
        </value>
    </variables>
    <variables>
        <name>headerCardTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Shipping Details</stringValue>
        </value>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pathValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
