unpackaged/main/default/flows/OMSOrderEntry__Order_Entry_Checkout_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Checkout_Session_Action</name>
        <label>Checkout Session Action</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <actionName>checkoutSessionAction</actionName>
        <actionType>checkoutSessionAction</actionType>
        <connector>
            <targetReference>Set_Next_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Archive_Expired_Checkout_Session</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialState</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkoutSessionAction</nameSegment>
        <outputParameters>
            <assignToReference>checkoutSessionId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Next_State</name>
        <label>Set Next State</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <connector>
            <targetReference>Get_Checkout_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextState</name>
            <value>
                <stringValue>Shipping Cost</stringValue>
            </value>
        </inputParameters>
        <nameSegment>updateCheckoutSessionStateAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Does_Checkout_Session_Exist</name>
        <label>Does Checkout Session Exist?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Checkout_Session_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Checkout_Session</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Checkout_State</name>
        <label>Validate Checkout State</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>invalid: state not expected</defaultConnectorLabel>
        <rules>
            <name>valid_no_expected_state</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>valid: no expected state</label>
        </rules>
        <rules>
            <name>valid_expected_match_state</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>checkoutSession.State</elementReference>
                </rightValue>
            </conditions>
            <label>valid: expected match state</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Entry Subflow - Checkout Session {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Entry Subflow - Checkout Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Checkout_Session</name>
        <label>Get Checkout Session</label>
        <locationX>176</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>checkoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>NextState</queriedFields>
        <queriedFields>IsProcessing</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>IsError</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Archive_Expired_Checkout_Session</name>
        <label>Archive Expired Checkout Session</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checkout_Session_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WebCartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsArchived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CartCheckoutSession</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Checkout_Session_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expCurrentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
