unpackaged/main/default/flows/OMSOrderEntry__OMSOrderEntry_FlowContainer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Authorize_Tokenized_Payment</name>
        <label>Authorize Tokenized Payment</label>
        <locationX>1810</locationX>
        <locationY>1838</locationY>
        <actionName>OMSOrderEntry__AuthorizeTokenizedPayment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Session_State_to_Activate_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OMSOrderEntry__AuthorizeTokenizedPayment</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Shipping_Costs</name>
        <label>Calculate Shipping Costs</label>
        <locationX>864</locationX>
        <locationY>2630</locationY>
        <actionName>calcCartShipmentAction</actionName>
        <actionType>calcCartShipmentAction</actionType>
        <connector>
            <targetReference>Update_Session_State_to_Shipping_Address</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>calcCartShipmentAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Taxes</name>
        <label>Calculate Taxes</label>
        <locationX>1282</locationX>
        <locationY>1358</locationY>
        <actionName>calcCartTaxesAction</actionName>
        <actionType>calcCartTaxesAction</actionType>
        <connector>
            <targetReference>Update_Session_State_to_Payment_and_Billing_Address</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>calcCartTaxesAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Active_Cart</name>
        <label>Get Active Cart</label>
        <locationX>864</locationX>
        <locationY>278</locationY>
        <actionName>OMSOrderEntry__ActiveCartFetchDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Field_Labels</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OMSOrderEntry__ActiveCartFetchDataService</nameSegment>
        <outputParameters>
            <assignToReference>cartId</assignToReference>
            <name>cartId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Field_Labels</name>
        <label>Get Field Labels</label>
        <locationX>864</locationX>
        <locationY>398</locationY>
        <actionName>OMSOrderEntry__FieldLabelDataServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Header_details_from_Context</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPI</name>
            <value>
                <elementReference>searchResultFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OMSOrderEntry__FieldLabelDataServices</nameSegment>
        <outputParameters>
            <assignToReference>fieldLabels</assignToReference>
            <name>fieldLabel</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Header_details_from_Context</name>
        <label>Get Header details from Context</label>
        <locationX>864</locationX>
        <locationY>518</locationY>
        <actionName>OMSOrderEntry__HeaderContainerDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Line_Item</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OMSOrderEntry__HeaderContainerDataService</nameSegment>
        <outputParameters>
            <assignToReference>objectName</assignToReference>
            <name>objectName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordName</assignToReference>
            <name>recordName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Sales_Channel_Id</name>
        <label>Assign Sales Channel Id</label>
        <locationX>2514</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>InternalSalesChannelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Channel.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error</name>
        <label>Clear Error</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fault_Error_Message</name>
        <label>Set Fault Error Message</label>
        <locationX>2074</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checkout_Session_Decision</name>
        <label>Checkout Session Decision</label>
        <locationX>1678</locationX>
        <locationY>1238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Error_Message_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Has Error Message</label>
        </rules>
        <rules>
            <name>Waiting_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.IsProcessing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Screen</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
        <rules>
            <name>Shipping_Cost_OUTCOME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Cost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Shipping_Costs</targetReference>
            </connector>
            <label>Shipping Cost</label>
        </rules>
        <rules>
            <name>Shipping_Address_OUTCOME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Address</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Method</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Delivery</targetReference>
            </connector>
            <label>Shipping Address</label>
        </rules>
        <rules>
            <name>Calculate_Taxes_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Taxes</targetReference>
            </connector>
            <label>Calculate Taxes</label>
        </rules>
        <rules>
            <name>Payment_and_Billing_Address_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment and Billing Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Billing</targetReference>
            </connector>
            <label>Payment and Billing Address</label>
        </rules>
        <rules>
            <name>Checkout_Summary_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout Summary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCartDeliveryGroup</targetReference>
            </connector>
            <label>Checkout Summary</label>
        </rules>
        <rules>
            <name>Activate_Order_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutSession.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWebstore</targetReference>
            </connector>
            <label>Activate Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkout_Status</name>
        <label>Checkout Status</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Refetch_Checkout_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continuing</defaultConnectorLabel>
        <rules>
            <name>Start_Checkout_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Checkout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_or_Create_Checkout_Sessions</targetReference>
            </connector>
            <label>Start Checkout</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the value &quot;Internal&quot; exists, then dont create it, if it doesn&#39;t exist then create the Sales Channel record.</description>
        <name>Create_Sales_Channel</name>
        <label>Create Sales Channel?</label>
        <locationX>2646</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Create_Internal_Sales_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Sales_Channel_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Channel_Id</targetReference>
            </connector>
            <label>Internal Sales Channel Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type_DECISION</name>
        <label>Payment Type</label>
        <locationX>2074</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Update_Session_State_to_Activate_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Purchase Order</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Billing.PaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorize_Tokenized_Payment</targetReference>
            </connector>
            <label>Credit Card</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OMSOrderEntry__FlowContainer {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Internal_Sales_Channel</name>
        <label>Create Internal Sales Channel</label>
        <locationX>2778</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>InternalSalesChannelId</assignRecordIdToReference>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalChannelNumber</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesChannelName</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>SalesChannel</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Channel</name>
        <label>Get Sales Channel</label>
        <locationX>2646</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesChannelName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCartDeliveryGroup</name>
        <label>GetCartDeliveryGroup</label>
        <locationX>2074</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliveryMethodName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeliverToCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryMethodName</name>
        <label>GetDeliveryMethodName</label>
        <locationX>2074</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary_and_Submit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCartDeliveryGroup.DeliveryMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryMethod</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWebstore</name>
        <label>getWebstore</label>
        <locationX>2646</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>webstoreId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStore</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>2646</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Update_Session_State_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSession.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SalesChannelId</field>
            <value>
                <elementReference>InternalSalesChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cart_To_Close</name>
        <label>Update Cart To Close</label>
        <locationX>2646</locationX>
        <locationY>2174</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Error</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Line_Item</name>
        <label>Line Item</label>
        <locationX>864</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Order_on_Behalf_Of</targetReference>
        </connector>
        <fields>
            <name>omsOrderEntryHeaderS1</name>
            <extensionName>OMSOrderEntry:headerContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>headerCardIconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <elementReference>headerCardTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepsName</name>
                <value>
                    <elementReference>pathValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>omsOrderEntryLineItem1</name>
            <extensionName>OMSOrderEntry:lineItemContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>generatedCartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultSuggestionMax</name>
                <value>
                    <elementReference>searchResultSuggestionMax</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultFields</name>
                <value>
                    <elementReference>searchResultFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultMetaFieldAPI</name>
                <value>
                    <elementReference>searchResultMetaFieldAPI</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webstoreId</name>
                <value>
                    <elementReference>webstoreId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultFieldsLabel</name>
                <value>
                    <elementReference>fieldLabels</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cartId</assignToReference>
                <name>generatedCartId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_Promotion</name>
        <label>Review and Promotion</label>
        <locationX>864</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkout_Status</targetReference>
        </connector>
        <fields>
            <name>omsOrderEntryHeaderS22</name>
            <extensionName>OMSOrderEntry:headerContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>headerCardIconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <elementReference>headerCardTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepsName</name>
                <value>
                    <elementReference>pathValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>omsOrderEntryReviewAndPromotionS2</name>
            <extensionName>OMSOrderEntry:reviewPromotion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResultFieldsLabel</name>
                <value>
                    <elementReference>fieldLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generatedCartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultFields</name>
                <value>
                    <elementReference>searchResultFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webstoreId</name>
                <value>
                    <elementReference>webstoreId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_and_Submit</name>
        <label>Summary and Submit</label>
        <locationX>2074</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Type_DECISION</targetReference>
        </connector>
        <fields>
            <name>omsOrderEntryHeaderS55</name>
            <extensionName>OMSOrderEntry:headerContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>headerCardIconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <elementReference>headerCardTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepsName</name>
                <value>
                    <elementReference>pathValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>omsOrderEntrySummaryandSubmitS2</name>
            <extensionName>OMSOrderEntry:orderSummaryAndSubmit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResultFieldsLabel</name>
                <value>
                    <elementReference>fieldLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generatedCartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchResultFields</name>
                <value>
                    <elementReference>searchResultFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webstoreId</name>
                <value>
                    <elementReference>webstoreId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartGroupDelivery</name>
                <value>
                    <elementReference>GetCartDeliveryGroup</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartDeliveryMethod</name>
                <value>
                    <elementReference>GetDeliveryMethodName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_Screen</name>
        <label>Wait Screen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refetch_Checkout_Session</targetReference>
        </connector>
        <fields>
            <name>waitComponent</name>
            <extensionName>OMSOrderEntry:checkoutSessionWait</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>checkoutSessionId</name>
                <value>
                    <elementReference>checkoutSession.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_and_Store_Select</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_and_Store_Select</name>
        <label>Account and Store Select</label>
        <locationX>864</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Active_Cart</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Account_and_Store_Select</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeId</name>
            <value>
                <elementReference>webstoreId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <name>contactId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>webstoreId</assignToReference>
            <name>storeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_or_Create_Checkout_Sessions</name>
        <label>Get or Create Checkout Sessions</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Calculate_Shipping_Costs</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Checkout_Session</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>checkoutSession</assignToReference>
            <name>checkoutSession</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Payment_Billing</name>
        <label>Payment &amp; Billing</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Session_State_to_Checkout_Summary</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Payment_Billing_Address</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>headerCardIconName</name>
            <value>
                <elementReference>headerCardIconName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>headerCardTitle</name>
            <value>
                <elementReference>headerCardTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pathValues</name>
            <value>
                <elementReference>pathValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordName</name>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeId</name>
            <value>
                <elementReference>webstoreId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Refetch_Checkout_Session</name>
        <label>Refetch Checkout Session</label>
        <locationX>1678</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Checkout_Session_Decision</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Checkout_Session</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>checkoutSession</assignToReference>
            <name>checkoutSession</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Shipping_Delivery</name>
        <label>Shipping &amp; Delivery</label>
        <locationX>1018</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Session_State_to_Taxes</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Shipping_Details</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>headerCardIconName</name>
            <value>
                <elementReference>headerCardIconName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>headerCardTitle</name>
            <value>
                <elementReference>headerCardTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pathValues</name>
            <value>
                <elementReference>pathValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordName</name>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeId</name>
            <value>
                <elementReference>webstoreId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Order_on_Behalf_Of</name>
        <label>Update Order on Behalf Of</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Review_and_Promotion</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Set_Order_On_Behalf_Of</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Activate_Order</name>
        <label>Update Session State to Activate Order</label>
        <locationX>2074</locationX>
        <locationY>2258</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refetch_Checkout_Session</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Activate Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Checkout_Summary</name>
        <label>Update Session State to Checkout Summary</label>
        <locationX>1546</locationX>
        <locationY>1478</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refetch_Checkout_Session</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Checkout Summary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <stringValue>Activate Order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Closed</name>
        <label>Update Session State to Closed</label>
        <locationX>2646</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Update_Cart_To_Close</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Payment_and_Billing_Address</name>
        <label>Update Session State to Payment and Billing Address</label>
        <locationX>1282</locationX>
        <locationY>1478</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Payment_Billing</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Payment and Billing Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <stringValue>Checkout Summary</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Shipping_Address</name>
        <label>Update Session State to Shipping Address</label>
        <locationX>864</locationX>
        <locationY>2750</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Shipping_Delivery</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Shipping Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <stringValue>Taxes</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Session_State_to_Taxes</name>
        <label>Update Session State to Taxes</label>
        <locationX>1018</locationX>
        <locationY>1478</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refetch_Checkout_Session</targetReference>
        </connector>
        <flowName>OMSOrderEntry__Order_Entry_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>checkoutSession</name>
            <value>
                <elementReference>checkoutSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Taxes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <stringValue>Payment and Billing Address</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CartGroupMethodList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartDeliveryGroupMethod</objectType>
    </variables>
    <variables>
        <name>CartGroupRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headerCardIconName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>standard:webcart</stringValue>
        </value>
    </variables>
    <variables>
        <name>headerCardTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Create Order</stringValue>
        </value>
    </variables>
    <variables>
        <name>InternalSalesChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pathValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Line Items,Review &amp; Promotions,Shipping &amp; Delivery,Payment,Summary &amp; Submit</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesChannelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C</stringValue>
        </value>
    </variables>
    <variables>
        <name>searchResultFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Id,Name,StockKeepingUnit,Description,ProductCode,Family,Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>searchResultMetaFieldAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name,StockKeepingUnit</stringValue>
        </value>
    </variables>
    <variables>
        <name>searchResultSuggestionMax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Start_Checkout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TempCartGroupMethod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartDeliveryGroupMethod</objectType>
    </variables>
    <variables>
        <name>webstoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
