unpackaged/main/default/flows/pi__Account_Engagement_Sandbox_Production_Bulk_Asset_Copy_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Account_Engagement_Sandbox_BU_Named_Credentials</name>
        <label>Get Account Engagement Sandbox BU Named Credentials</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>pi__NamedCredentialQueryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Named_Credentials</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>pi__NamedCredentialQueryAction</nameSegment>
        <outputParameters>
            <assignToReference>var_AccountEngagementSandboxBUCredentials</assignToReference>
            <name>namedCredentials</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Production_Business_Units</name>
        <label>Get Production Business Units</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>pi__PardotBusinessUnitQueryActionV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sandbox_Business_Units</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromSandbox</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesforceSandboxBUCredential</name>
            <value>
                <elementReference>Salesforce_Sandbox_Business_Unit_Named_Credential</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pi__PardotBusinessUnitQueryActionV2</nameSegment>
        <outputParameters>
            <assignToReference>var_ProdBusinessUnits</assignToReference>
            <name>businessUnits</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Salesforce_Sandbox_BU_Named_Credentials</name>
        <label>Get Salesforce Sandbox BU Named Credentials</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>pi__NamedCredentialQueryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Engagement_Sandbox_BU_Named_Credentials</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>pi__NamedCredentialQueryAction</nameSegment>
        <outputParameters>
            <assignToReference>var_SalesforceSandboxBUCredentials</assignToReference>
            <name>namedCredentials</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Sandbox_Business_Units</name>
        <label>Get Sandbox Business Units</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>pi__PardotBusinessUnitQueryActionV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_BUs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromSandbox</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesforceSandboxBUCredential</name>
            <value>
                <elementReference>Salesforce_Sandbox_Business_Unit_Named_Credential</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pi__PardotBusinessUnitQueryActionV2</nameSegment>
        <outputParameters>
            <assignToReference>var_SandboxBusinessUnits</assignToReference>
            <name>businessUnits</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Production_To_Sandbox_BU_Assignment</name>
        <label>Production To Sandbox BU Assignment</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Source_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sandbox_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Source_Business_Unit_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Business_Unit_chooser.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination_Business_Unit_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sandbox_Business_Unit_chooser.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Base_Asset_Copy_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sandbox_To_Production_BU_Assignment</name>
        <label>Sandbox To Production BU Assignment</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Source_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sandbox_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Source_Business_Unit_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sandbox_Business_Unit_chooser.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination_Business_Unit_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production_Business_Unit_chooser.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Base_Asset_Copy_Flow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Copy_from_Production_to_Sandbox</name>
        <choiceText>Copy from Production to Sandbox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy from Production to Sandbox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Copy_from_Sandbox_to_Production</name>
        <choiceText>Copy from Sandbox to Production</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy from Sandbox to Production</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Business_Unit_Assignment</name>
        <label>Business Unit Assignment</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Sandbox_To_Production_BU_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Production_To_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Production_to_Sandbox_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Production_To_Sandbox_BU_Assignment</targetReference>
            </connector>
            <label>Is Production To Sandbox</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ccl_AccountEngagementSandboxBUCredentials</name>
        <collectionReference>var_AccountEngagementSandboxBUCredentials</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_ProdBusinessUnits</name>
        <collectionReference>var_ProdBusinessUnits</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_SalesforceSandboxBUCredentials</name>
        <collectionReference>var_SalesforceSandboxBUCredentials</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_SandboxBusinessUnits</name>
        <collectionReference>var_SandboxBusinessUnits</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Production_to_Sandbox_Flow</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Direction_of_Copy}={!Copy_from_Production_to_Sandbox}, True, False)</expression>
    </formulas>
    <interviewLabel>Account Engagement Sandbox-Production Bulk Asset Copy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account Engagement Sandbox-Production Bulk Asset Copy Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_BUs</name>
        <label>Select Business Units</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_Unit_Assignment</targetReference>
        </connector>
        <fields>
            <name>pi_step_businessUnitsSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Direction_of_Copy</name>
            <choiceReferences>Copy_from_Sandbox_to_Production</choiceReferences>
            <choiceReferences>Copy_from_Production_to_Sandbox</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Copy_from_Sandbox_to_Production</defaultSelectedChoiceReference>
            <fieldText>Direction of Copy</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Production_Business_Unit_chooser</name>
            <choiceReferences>ccl_ProdBusinessUnits</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Production Business Unit</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sandbox_Business_Unit_chooser</name>
            <choiceReferences>ccl_SandboxBusinessUnits</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Sandbox Business Unit</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Named_Credentials</name>
        <label>Select Named Credentials</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Production_Business_Units</targetReference>
        </connector>
        <fields>
            <name>pi_step_namedCredSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Salesforce_Sandbox_Business_Unit_Named_Credential</name>
            <choiceReferences>ccl_SalesforceSandboxBUCredentials</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Salesforce_Sandbox_Business_Unit_Credential</stringValue>
            </defaultValue>
            <fieldText>Named Credential For Salesforce API Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Engagement_Sandbox_Business_Unit_Credential</name>
            <choiceReferences>ccl_AccountEngagementSandboxBUCredentials</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Account_Engagement_Sandbox_Business_Unit_Credential</stringValue>
            </defaultValue>
            <fieldText>Named Credential For Account Engagement API Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesforce_Sandbox_BU_Named_Credentials</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Base_Asset_Copy_Flow</name>
        <label>Base Asset Copy Flow</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <flowName>pi__Account_Engagement_Bulk_Asset_Copy_Flow</flowName>
        <inputAssignments>
            <name>AE_Sandbox_Business_Unit_Credential</name>
            <value>
                <elementReference>Account_Engagement_Sandbox_Business_Unit_Credential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Destination_Business_Unit</name>
            <value>
                <elementReference>Destination_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Destination_Business_Unit_Name</name>
            <value>
                <elementReference>Destination_Business_Unit_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_Sandbox_Production_Flow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Production_Business_Unit</name>
            <value>
                <elementReference>Production_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Production_to_Sandbox_Flow</name>
            <value>
                <elementReference>Production_to_Sandbox_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sandbox_Business_Unit</name>
            <value>
                <elementReference>Sandbox_Business_Unit_chooser.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source_Business_Unit</name>
            <value>
                <elementReference>Source_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source_Business_Unit_Name</name>
            <value>
                <elementReference>Source_Business_Unit_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Destination_Business_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Destination_Business_Unit_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Business_Unit</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Business_Unit_List</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Business_Unit_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceBUNameElement</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountEngagementSandboxBUCredentials</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProdBusinessUnits</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SalesforceSandboxBUCredentials</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SandboxBusinessUnits</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
