unpackaged/main/default/flows/qomsos__Order_Search_Bulk_Action_Flow_Sample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order_Number_Collection</name>
        <label>Convert Order Numbers to Collection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>qomsos__OMSToolsFlowStringToArray</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Order_Summaries</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>orderNumbers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>qomsos__OMSToolsFlowStringToArray</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_CountOrders</name>
        <label>Set CountOrders</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countOrders</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Order_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Order Search Bulk Action Flow Sample {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Search Bulk Action Flow Sample</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Summaries</name>
        <label>Get Order Summaries</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CountOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Order_Number_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dummy_Display</name>
            <fieldText>&lt;p&gt;This is just a simple flow that does nothing but showing the capability of receiving selected order numbers from &quot;OrderSearch&quot; LWC and do following process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below are the order numbers passed in by variable &quot;orderNumbers&quot;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!orderNumbers}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!countOrders} orders found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Number_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orderNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
