unpackaged/main/default/flows/qomsos__Order_Search_Bulk_Action_Email_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order_Number_Collection</name>
        <label>Convert Order Numbers to Collection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>qomsos__OMSToolsFlowStringToArray</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Order_Summaries</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>orderNumbers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>qomsos__OMSToolsFlowStringToArray</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_All_Orders</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Greeting</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_All_Orders.BillToContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_Calculated</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Email_Subject_Calculated</name>
        <dataType>String</dataType>
        <expression>IF({!Include_Order_Number}, &#39;[ORDER:&#39; + {!Loop_All_Orders.OrderNumber} + &#39;]:&#39; + {!Email_Subject},{!Email_Subject})</expression>
    </formulas>
    <interviewLabel>Order Search Bulk Action Email Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Search Bulk Action Email Contacts</label>
    <loops>
        <name>Loop_All_Orders</name>
        <label>Loop All Orders</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Order_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Summaries</name>
        <label>Get Order Summaries</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Contents_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Order_Number_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dummy_Display</name>
            <fieldText>&lt;p&gt;Emails are sent&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Double_Check_Screen</name>
        <label>Email Double Check Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No, keep editing</backButtonLabel>
        <connector>
            <targetReference>Loop_All_Orders</targetReference>
        </connector>
        <fields>
            <name>Email_Double_Check_Text</name>
            <fieldText>&lt;p&gt;Your email will look like below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--------&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Email_Greeting}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--------&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Is that ok?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, send them</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Email_Contents_Screen</name>
        <label>Set Email Contents Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Double_Check_Screen</targetReference>
        </connector>
        <fields>
            <name>Sender_Email</name>
            <dataType>String</dataType>
            <fieldText>Email Sent From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Subject</name>
            <dataType>String</dataType>
            <fieldText>Email Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Order_Number</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Prefix &quot;[ORDER:{order number}]:&quot; in your email subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Contents</name>
            <fieldText>Email Contents</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Do NOT include the &quot;Dear {customer name}&quot; greeting in your email contents, they will be automatically added in the final email.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Intro</name>
            <fieldText>&lt;p&gt;Emails will be send from the &quot;Email Sent From&quot; you defined above, and the email will looks like:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Email_Greeting}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{the contents you provided above}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Number_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Greeting</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Loop_All_Orders.BillToContact.FirstName},
{!Email_Contents}</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject_Prefix</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[ORDER:{!Loop_All_Orders.OrderNumber}]:</text>
    </textTemplates>
    <textTemplates>
        <name>oneOrderInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_All_Orders.OrderNumber} by {!Loop_All_Orders.BillToContact.Name} ({!Loop_All_Orders.BillToContact.Email})&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>countOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Email_Contents_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Subject_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderDetailsToShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
