unpackaged/main/default/flows/SDO_FSL_Appointment_Assistant_Simulate_Tech_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Enroute</name>
        <label>Enroute?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_here_to_simulate_Last_Mile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_here_to_simulate_Last_Mile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Service_Resource_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Mile_Locations_Entered</name>
        <label>Last Mile Locations Entered</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>En_Route_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesLMEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objServiceResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objServiceResource.En_Route_Location__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objServiceResource.En_Route_Location__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objServiceResource.Last_Mile_Location__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objServiceResource.Last_Mile_Location__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssignedResource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow allows the SE to simulate the EnRoute and LastMile statuses of the Technician.  To use this,
1) on the Service Record, update the desired lat/longs for the EnRoute and LastMile technician locations.
2) make sure the flows that launch the notifications are active - SFS - Appointment Assistant - Approaching and SFS - Appointment Assistant - EnRoute</description>
    <environments>Default</environments>
    <interviewLabel>SFS - Appointment Assistant - Simulate Tech Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS - Appointment Assistant - Simulate Tech Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_Service_Resource</name>
        <label>get Service Resource</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Mile_Locations_Entered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>objServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>En_Route_Location__c</queriedFields>
        <queriedFields>En_Route_Location__Latitude__s</queriedFields>
        <queriedFields>En_Route_Location__Longitude__s</queriedFields>
        <queriedFields>Last_Mile_Location__c</queriedFields>
        <queriedFields>Last_Mile_Location__Latitude__s</queriedFields>
        <queriedFields>Last_Mile_Location__Longitude__s</queriedFields>
        <queriedFields>Original_Travel_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAssignedResource</name>
        <label>getAssignedResource</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>En_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceResource.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>varAssignedResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Service_Resource</name>
        <label>update Service Resource</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>UpdateServiceResourceAAType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceResource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastKnownLatitude</field>
            <value>
                <elementReference>objServiceResource.En_Route_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastKnownLongitude</field>
            <value>
                <elementReference>objServiceResource.En_Route_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Service_Resource_0</name>
        <label>update Service Resource</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>updateSALastMile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceResource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastKnownLatitude</field>
            <value>
                <elementReference>objServiceResource.Last_Mile_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastKnownLongitude</field>
            <value>
                <elementReference>objServiceResource.Last_Mile_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSALastMile</name>
        <label>UpdateSALastmile</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSLDemoTools_Service_Resource__c</field>
            <value>
                <elementReference>objServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_SFS_AA_type__c</field>
            <value>
                <stringValue>LastMile</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateServiceResourceAAType</name>
        <label>UpdateServiceResourceAAType</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSLDemoTools_Service_Resource__c</field>
            <value>
                <elementReference>objServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_SFS_AA_type__c</field>
            <value>
                <stringValue>EnRoute</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>En_Route</name>
        <label>En Route</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enroute</targetReference>
        </connector>
        <fields>
            <name>EnrouteContinue</name>
            <fieldText>&lt;p&gt;Press Next to set status to EnRoute. This will notify your customer that you are on your way.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_here_to_simulate_Last_Mile</name>
            <dataType>Boolean</dataType>
            <fieldText>Check here to simulate Last Mile (2nd notification)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>En_Route_0</name>
        <label>En Route</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnrouteContinue_0</name>
            <fieldText>&lt;p&gt;En Route and Last Mile Locations have not been entered on the Service Resource record. Please update these values before running this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewARPEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
