unpackaged/main/default/flows/SDO_Service_Update_Propensity_to_Escalate_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Change_Direction_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SDO_Service_Propensity_Change_Direction__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SDO Service Update Propensity to Escalate Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Propensity to Escalate Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_Service_PTE_Score_Lower_Threshold__c</field>
            <value>
                <elementReference>Lower_Threshold_Propensity_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_PTE_Score_Upper_Threshold__c</field>
            <value>
                <elementReference>Higher_Threshold_Propensity_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Improvement_1_Val__c</field>
            <value>
                <elementReference>Propensity_Improvement_1_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Improvement_1__c</field>
            <value>
                <elementReference>Propensity_Improvement_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Improvement_2_Val__c</field>
            <value>
                <elementReference>Propensity_Improvement_2_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Improvement_2__c</field>
            <value>
                <elementReference>Propensity_Improvement_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Percentage__c</field>
            <value>
                <elementReference>Propensity_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_1_Value__c</field>
            <value>
                <elementReference>Top_Predictor_1_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_1__c</field>
            <value>
                <elementReference>Top_Predictor_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_2_Value__c</field>
            <value>
                <elementReference>Top_Predictor_2_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_2__c</field>
            <value>
                <elementReference>Top_Predictor_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_3_Value__c</field>
            <value>
                <elementReference>Top_Predictor_3_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Propensity_Predictor_3__c</field>
            <value>
                <elementReference>Top_Predictor_3</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>PTE_Update_Screen</name>
        <label>Update Propensity to Escalate Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <fields>
            <name>PTE_Update_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PTE_Update_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Propensity_Percentage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Percentage__c</elementReference>
                    </defaultValue>
                    <fieldText>Propensity to Escalate Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Do not include % sign&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>thresholdHelp</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;﻿A Customer Effort Score less than or equal to the lower threshold will be &lt;/span&gt;&lt;strong style=&quot;color: rgb(59, 167, 85); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;G&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;REEN&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;; a score greater than or equal to will be &lt;/span&gt;&lt;strong style=&quot;color: rgb(186, 5, 23); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;RED&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;; and scores in between will be &lt;/span&gt;&lt;strong style=&quot;color: rgb(252, 192, 3); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;YELLOW&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PTE_Update_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Top_Predictor_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Top_Predictor_1_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_1_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 1 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ex: 5.00 or -5.00, make sure to include - sign for negative values&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PTE_Update_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PTE_Update_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lower_Threshold_Propensity_Percentage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_PTE_Score_Lower_Threshold__c</elementReference>
                    </defaultValue>
                    <fieldText>Lower Threshold</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PTE_Update_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Higher_Threshold_Propensity_Percentage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_PTE_Score_Upper_Threshold__c</elementReference>
                    </defaultValue>
                    <fieldText>Upper Threshold</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PTE_Update_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Top_Predictor_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Top_Predictor_2_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_2_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 2 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ex: 5.00 or -5.00, make sure to include - sign for negative values&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Top_Predictor_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_3__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Top_Predictor_3_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Predictor_3_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Top Predictor 3 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ex: 5.00 or -5.00, make sure to include - sign for negative values&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PTE_Update_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PTE_Update_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PTE_Update_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Propensity_Improvement_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Improvement_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Propensity Improvement 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Propensity_Improvement_1_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Improvement_1_Val__c</elementReference>
                    </defaultValue>
                    <fieldText>Propensity Improvement 1 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ex: 5.00 or -5.00, make sure to include - sign for negative values&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Propensity_Improvement_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Improvement_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Propensity Improvement 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Propensity_Improvement_2_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Propensity_Improvement_2_Val__c</elementReference>
                    </defaultValue>
                    <fieldText>Propensity Improvement 2 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ex: 5.00 or -5.00, make sure to include - sign for negative values&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PTE_Update_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
