unpackaged/main/default/flows/SDO_Service_SunnyBots_Find_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Variable assignment to kick off order count</description>
        <name>assign_Order_Initator</name>
        <label>assign Order Initator</label>
        <locationX>780</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>var_LoopIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrders</name>
        <label>assignOrders</label>
        <locationX>1050</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>var_newOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopIterator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Count_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Count</name>
        <label>Set Order Count</label>
        <locationX>842</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>varCountOrders</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_newOrderList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOrders</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>listOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>w</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>w</name>
        <label>assign New List to Old List</label>
        <locationX>1051</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>listOrders</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_newOrderList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Orders &gt;5 ?</description>
        <name>Order_Count_Decision</name>
        <label>Order Count Decision</label>
        <locationX>1101</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>loop_orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Orders_Greater_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopIterator</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Count</targetReference>
            </connector>
            <label>Orders Greater than 5?</label>
        </rules>
    </decisions>
    <description>What: Returns a list of Orders for the specified Contact. Who: Service Team.</description>
    <environments>Default</environments>
    <interviewLabel>Einstein Bots - Find Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Find Orders</label>
    <loops>
        <name>loop_orders</name>
        <label>loop orders</label>
        <locationX>450</locationX>
        <locationY>459</locationY>
        <collectionReference>listOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignOrders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Order_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Orders_for_Contact</name>
        <label>Get Orders for Contact</label>
        <locationX>382</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Order_Initator</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tVar_Contact</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>listOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>BillToContactId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>236</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_Orders_for_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Input contact variable that retrieves Contact ID</description>
        <name>tVar_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LoopIterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_newOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varCountOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
