unpackaged/main/default/flows/SDO_Service_Update_Customer_Effort_Score_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SDO Service Update Customer Effort S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Customer Effort Score Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_Service_Agent_Interactions__c</field>
            <value>
                <elementReference>Service_Agent_Interactions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_CES_Score_Lower_Threshold__c</field>
            <value>
                <elementReference>Score_Lower_Threshold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_CES_Score_Upper_Threshold__c</field>
            <value>
                <elementReference>Score_Upper_Threshold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Customer_Effort_Score__c</field>
            <value>
                <elementReference>Customer_Effort_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Email_Response_Time__c</field>
            <value>
                <elementReference>Email_Response_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Escalated__c</field>
            <value>
                <elementReference>Escalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Speed_to_Answer__c</field>
            <value>
                <elementReference>Speed_to_Answer</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Update_Customer_Effort_Score_Values</name>
        <label>Update Customer Effort Score Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Update_Customer_Effort_Score_Values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Customer_Effort_Score_Values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Effort_Score</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Customer_Effort_Score__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Effort Score</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Customer Effort Score should be a value between 1 - 100&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>thresholdHelp</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;﻿A Customer Effort Score less than or equal to the lower threshold will be &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(59, 167, 85); font-size: 12px;&quot;&gt;GREEN&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;; a score greater than or equal to will be &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(186, 5, 23); font-size: 12px;&quot;&gt;RED&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;; and scores in between will be &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(252, 192, 3); font-size: 12px;&quot;&gt;YELLOW&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Customer_Effort_Score_Values_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Speed_to_Answer</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Speed_to_Answer__c</elementReference>
                    </defaultValue>
                    <fieldText>Speed to Answer (in seconds)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Service_Agent_Interactions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Agent_Interactions__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Service Agent Interactions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_Customer_Effort_Score_Values_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Customer_Effort_Score_Values_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Score_Lower_Threshold</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_CES_Score_Lower_Threshold__c</elementReference>
                    </defaultValue>
                    <fieldText>Score Lower Threshold</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Customer_Effort_Score_Values_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Score_Upper_Threshold</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_CES_Score_Upper_Threshold__c</elementReference>
                    </defaultValue>
                    <fieldText>Score Upper Threshold</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Customer_Effort_Score_Values_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Response_Time</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Email_Response_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Email Response Time (in days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Escalated</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recordId.SDO_Service_Escalated__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Case Escalated?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Customer_Effort_Score_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
