unpackaged/main/default/flows/SI_Flow_FlagForReview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Publication_Status_to_Draft</name>
        <label>Change Publication Status to Draft</label>
        <locationX>110</locationX>
        <locationY>458</locationY>
        <actionName>createDraftFromOnlineKnowledgeArticle</actionName>
        <actionType>createDraftFromOnlineKnowledgeArticle</actionType>
        <connector>
            <targetReference>Get_New_KAV_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>EDIT_AS_DRAFT_ARTICLE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unpublish</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleVersionId</name>
            <value>
                <elementReference>varKavIdKP</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createDraftFromOnlineKnowledgeArticle</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Def_Publish_Knowledge_Article</name>
        <label>Def Outcome Publish Knowledge Article</label>
        <locationX>902</locationX>
        <locationY>674</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>varKavIdsforPublish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Publish_Knowledge_Article</name>
        <label>Publish Knowledge Article</label>
        <locationX>110</locationX>
        <locationY>890</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>varKavIdsforPublish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE_NEW_VERSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Collection_Variable_to_Publish</name>
        <label>Assign Collection Variable to Publish</label>
        <locationX>110</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varKavIdsforPublish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewKavId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Knowledge_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Def_Assign_Collection_Variable_to_Publish</name>
        <label>Def Outcome Assign Collection Variable to Publish</label>
        <locationX>902</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varKavIdsforPublish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varKavIdKP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Def_Publish_Knowledge_Article</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constPublishedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </constants>
    <constants>
        <name>constPubStatusArchived</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Archived</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Inputs</name>
        <label>Check Inputs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Knowledge_Article_Version_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Input_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varKavIdKP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varKavIdKP</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formChkInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null Input check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Publication_Status</name>
        <label>Check Publication Status</label>
        <locationX>506</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Def_Update_Next_Review_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Article is Draft</defaultConnectorLabel>
        <rules>
            <name>If_Article_is_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constPublishedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Publication_Status_to_Draft</targetReference>
            </connector>
            <label>If Article is Published</label>
        </rules>
        <rules>
            <name>If_Article_is_Archived</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constPubStatusArchived</elementReference>
                </rightValue>
            </conditions>
            <label>If Article is Archived</label>
        </rules>
        <rules>
            <name>Article_Status_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPublishStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPublishStatus</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Article Status Other</label>
        </rules>
    </decisions>
    <description>This flow is used in Service Intelligence - Knowledge Performance view which sets the Next Review Date of an Article to today&#39;s date v1.0</description>
    <environments>Default</environments>
    <formulas>
        <name>formChkInput</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN(TRIM({!varKavIdKP}))=0 || LEN(TRIM({!varKavIdKP}))&lt;=14, true, false)</expression>
    </formulas>
    <formulas>
        <name>formCurrentDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SI Flow - Flag For Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SI Flow - Flag For Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article_Version_Information</name>
        <label>Get Knowledge Article Version Information</label>
        <locationX>506</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Publication_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varKavIdKP</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varArticleNumber</assignToReference>
            <field>ArticleNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varKavId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextReviewDate</assignToReference>
            <field>NextReviewDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPublishStatus</assignToReference>
            <field>PublishStatus</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_KAV_Information</name>
        <label>Get New KAV Information</label>
        <locationX>110</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Next_Review_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArticleNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varArticleNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varNewKavId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Def_Update_Next_Review_Date</name>
        <label>Def Outcome Update Next Review Date</label>
        <locationX>902</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Def_Assign_Collection_Variable_to_Publish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewKavId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextReviewDate</field>
            <value>
                <elementReference>formCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Review_Date</name>
        <label>Update Next Review Date</label>
        <locationX>110</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Collection_Variable_to_Publish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewKavId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextReviewDate</field>
            <value>
                <elementReference>formCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varArticleNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKavId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKavIdKP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varKavIdsforPublish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewKavId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextReviewDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
