unpackaged/main/default/flows/tspa__Get_Image_By_Session_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_Images_by_Session_ID</name>
        <label>VRA_Retrieve_Images_by_Session_ID</label>
        <locationX>585</locationX>
        <locationY>334</locationY>
        <actionName>tspa__ImageFromSessionId</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__sessionId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionId</nameSegment>
        <outputParameters>
            <assignToReference>JobId</assignToReference>
            <name>jobId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>JoStatus</assignToReference>
            <name>jobStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SessionId</assignToReference>
            <name>sessionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Type_Of_Object</name>
        <label>Type Of Object</label>
        <locationX>421</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Invite_Record.tspa__RecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VRA_Retrieve_Images_by_Session_ID</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>It will save all images related to session Id</description>
    <interviewLabel>Get Image By Session ID {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Image By Session ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session_Invite_Record</name>
        <label>Get Session Invite Record</label>
        <locationX>262</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Of_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>136</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Session_Invite_Record</targetReference>
        </connector>
        <object>tspa__Visual_Image__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JoStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
