unpackaged/main/default/flows/tspa__Send_Session_Invite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Session_Initiation3</name>
        <label>Session Initiation</label>
        <locationX>425</locationX>
        <locationY>454</locationY>
        <actionName>tspa__VRAinviteAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>audio</name>
            <value>
                <elementReference>Audio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientLanguage</name>
            <value>
                <elementReference>Client_Language1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiateWithVideo</name>
            <value>
                <elementReference>FlipVideoValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inviteType</name>
            <value>
                <elementReference>Sending_Method3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionType</name>
            <value>
                <elementReference>StartMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to</name>
            <value>
                <elementReference>to</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>videoFilterType</name>
            <value>
                <elementReference>VirtualBackground.selectedValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__VRAinviteAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Email1</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>SessionInvite</name>
        <choiceText>Session Invite</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SessionInvite</elementReference>
        </value>
    </choices>
    <choices>
        <name>SMS1</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VisualJourney</name>
        <choiceText>Visual Journey</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VisualJourney</elementReference>
        </value>
    </choices>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>519</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Initiation3.tspa__isOpened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_VRA_Session_Invite_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Initiation3.tspa__isOpened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClientLanguage</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>tspa__Remote_Assistant_MultiLanguage__c</object>
        <valueField>tspa__Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SessionType</name>
        <dataType>String</dataType>
        <displayField>tspa__Modified_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__ActiveSession__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Modified_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>tspa__SessionTypeMapping__c</object>
        <sortField>tspa__Modified_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>tspa__Modified_Value__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FlipVideoValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Video},false,true)</expression>
    </formulas>
    <interviewLabel>Send Session Invite {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send Session Invite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_VRA_Session_Invite_Record</name>
        <label>Create VRA Session Invite Record</label>
        <locationX>719</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Invite_Sent_SuccessFully</targetReference>
        </connector>
        <inputReference>Session_Initiation3</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>End_Session</name>
        <label>End Session</label>
        <locationX>1023</locationX>
        <locationY>295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Session_Initiation3.tspa__sessionId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__isOpened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>tspa__Session_Ended_By__c</field>
            <value>
                <stringValue>Manually Ended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tspa__isOpened__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tspa__TechSeeSessions__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>660</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!Session_Initiation3.tspa__Error_Message_Body__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invite_Sent_SuccessFully</name>
        <label>Invite Sent SuccessFully</label>
        <locationX>886</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Session</targetReference>
        </connector>
        <fields>
            <name>Agent_Link</name>
            <fieldText>&lt;p&gt;Agent Link :{!Session_Initiation3.tspa__agentLink__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Link</name>
            <fieldText>&lt;p&gt;Customer Link : {!Session_Initiation3.tspa__customerLink__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>messageChannelCmp</name>
            <extensionName>tspa:inviteFlowLmsPublisher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Invite_Screen</name>
        <label>Session Invite Screen</label>
        <locationX>174</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Session_Initiation3</targetReference>
        </connector>
        <fields>
            <name>Sending_Method3</name>
            <choiceReferences>Email1</choiceReferences>
            <choiceReferences>SMS1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SMS1</defaultSelectedChoiceReference>
            <fieldText>Sending Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>to</name>
            <dataType>String</dataType>
            <fieldText>to</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Audio</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Audio</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>StartMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Two-way Video</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StartMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Video</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StartMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Video Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Video</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Start Session without Video</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StartMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Two-way Video</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StartMode</name>
            <choiceReferences>SessionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>StartMode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Language1</name>
            <choiceReferences>ClientLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VirtualBackground</name>
            <extensionName>tspa:virtualBackgroundPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StartMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Two-way Video</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Session_Invite_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
