unpackaged/main/default/flows/tspa__VRA_Retrieve_Session_Recording_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_session_Recordings</name>
        <label>VRA Retrieve session Recordings</label>
        <locationX>446</locationX>
        <locationY>686</locationY>
        <actionName>tspa__GetRecordingBySessionIdandRefrenceId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopOnRecordings</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Report.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortOrder</name>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>tspa__GetRecordingBySessionIdandRefrenceId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignUrl</name>
        <label>AssignUrl</label>
        <locationX>580</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnRecordings.tspa__URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnRecordings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordingSettings</name>
        <label>CheckRecordingSettings</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>VRA_Retrieve_session_Recordings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordingNotActivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSettings.tspa__Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Recording_Message</targetReference>
            </connector>
            <label>RecordingNotActivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSessionType</name>
        <label>CheckSessionType</label>
        <locationX>545</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>No_Recordings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SessionType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report.tspa__Session_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Two-way Video</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Report.tspa__Session_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSettings</targetReference>
            </connector>
            <label>SessionType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Urlnull</name>
        <label>Urlnull</label>
        <locationX>446</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>RecordingURLScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordingNotReady</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <interviewLabel>VRA Retrieve Session Recording Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VRA Retrieve Session Recording Screen Flow</label>
    <loops>
        <name>LoopOnRecordings</name>
        <label>LoopOnRecordings</label>
        <locationX>446</locationX>
        <locationY>806</locationY>
        <collectionReference>VRA_Retrieve_session_Recordings.sessionRecordings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUrl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Urlnull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Report</name>
        <label>Get Report</label>
        <locationX>545</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSessionType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_History__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tspa__Session_Id__c</queriedFields>
        <queriedFields>tspa__Session_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSettings</name>
        <label>GetSettings</label>
        <locationX>248</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordingSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SessionRecording</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__InviteTechSeeConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tspa__Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Recording_Message</name>
        <label>No Recording Message</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Ready</name>
            <fieldText>&lt;p&gt;  Recordings are not activated in the account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Recordings</name>
        <label>No Recordings</label>
        <locationX>842</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Session_type_not_supported</name>
            <fieldText>&lt;p&gt;Recordings are not supported for the meeting&#39;s session type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordingNotReady</name>
        <label>RecordingNotReady</label>
        <locationX>314</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordingIsNotReady</name>
            <fieldText>&lt;p&gt;The recording is not ready yet. &lt;/p&gt;&lt;p&gt;Please try again in a few minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordingURLScreen</name>
        <label>RecordingURLScreen</label>
        <locationX>578</locationX>
        <locationY>1262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>URLOfRecording</name>
            <fieldText>&lt;p&gt;{!HyperlinkText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HyperlinkText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!URL}&quot;&gt;View Session Recording&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
