unpackaged/main/default/flows/tspa__Delete_Images_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The action will call API to delete images from S3 bucket</description>
        <name>Delete_Images_action</name>
        <label>Delete Images</label>
        <locationX>974</locationX>
        <locationY>2546</locationY>
        <actionName>tspa__VRA_DeleteImagesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_is_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>visualImageList</name>
            <value>
                <elementReference>selectedImages</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__VRA_DeleteImagesAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Recordings</name>
        <label>Delete Recordings</label>
        <locationX>1766</locationX>
        <locationY>2546</locationY>
        <actionName>tspa__VRA_DeleteRecordingsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_is_Success2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordingList</name>
            <value>
                <elementReference>selectedRecordings</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__VRA_DeleteRecordingsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <actionName>tspa__VRA_QueryRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__objectList</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldsList</name>
            <value>
                <stringValue>Id,FirstName,LastName,Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterLogic</name>
            <value>
                <stringValue>1 AND 2 AND 3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filtersList</name>
            <value>
                <elementReference>contactFilterValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storeAllFields</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>tspa__VRA_QueryRecordsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Case_ID_to_collection</name>
        <label>Add Case ID to collection</label>
        <locationX>831</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>cases_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_Images_to_Collection</name>
        <label>Add Selected Images to Collection</label>
        <locationX>974</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>selectedImages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>image_list.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Images_action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_Recordings_to_Collection</name>
        <label>Add Selected Recordings to Collection</label>
        <locationX>1766</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>selectedRecordings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recording_list.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Recordings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Contact_List</name>
        <label>Add to Contact List</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contacts.objectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_VRA_Report_ID_to_collection</name>
        <label>Add VRA Report ID to collection</label>
        <locationX>1260</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>vra_report_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_VRA_Reports.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_VRA_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_ID_Assignment</name>
        <label>Contact ID Assignment</label>
        <locationX>831</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Contact_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Total_Images</name>
        <label>Count Total Images</label>
        <locationX>974</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Images</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Images_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Total_Recordings</name>
        <label>Count Total Recordings</label>
        <locationX>1766</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Recordings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recordings_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Delete_Images</name>
        <choiceText>Delete Images</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Images</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Video_Recordings</name>
        <choiceText>Delete Video Recordings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Video Recordings</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Delete_is_Success</name>
        <label>Delete is Success</label>
        <locationX>974</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Error_from_API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Images_action.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Images_Deleted</targetReference>
            </connector>
            <label>is Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_is_Success2</name>
        <label>Delete is Success</label>
        <locationX>1766</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Error_from_API2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Recordings.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordings_Deleted</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Selection_Result</name>
        <label>Delete Selection Result</label>
        <locationX>1172</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Get_Recordings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Recordings</defaultConnectorLabel>
        <rules>
            <name>Delete_Images1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Images</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Images</targetReference>
            </connector>
            <label>Delete Images</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Images_Collection</name>
        <label>Empty Images Collection</label>
        <locationX>776</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Count_Total_Images</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Images</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Images</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Images_Found</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Recordings_Collection</name>
        <label>Empty Recordings Collection</label>
        <locationX>1568</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Count_Total_Recordings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recordings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Recordings_Found</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_VRA_Reports_Collection</name>
        <label>Empty VRA Reports Collection</label>
        <locationX>743</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Loop_VRA_Reports</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VRA_Reports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_VRA_Reports_Found</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_to_Contact_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Not_Found</targetReference>
            </connector>
            <label>Not Found Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contactFilterValue</name>
        <dataType>String</dataType>
        <expression>&#39;FirstName=&#39;+{!First_Name}+&#39;;LastName=&#39;+{!Last_Name}+&#39;;Email=&#39;+{!email.value}</expression>
    </formulas>
    <formulas>
        <name>end_date_formula</name>
        <dataType>Boolean</dataType>
        <expression>AND(IF({!End_Date2} &lt;= NOW(), True, False), IF({!End_Date2} &gt;= {!Start_Date2}, True, False))</expression>
    </formulas>
    <formulas>
        <name>start_date_formula</name>
        <dataType>Boolean</dataType>
        <expression>AND(IF({!Start_Date2} &lt;= NOW(), True, False), IF({!Start_Date2} &lt;= {!End_Date2}, True, False))</expression>
    </formulas>
    <interviewLabel>Delete Images Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Delete Images or Video Recordings Demo Flow</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>743</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Cases_By_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_ID_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_VRA_Reports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Contact_List</name>
        <label>Loop on Contact List</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <collectionReference>contactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_ID_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cases_By_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_VRA_Reports</name>
        <label>Loop VRA Reports</label>
        <locationX>1172</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_VRA_Reports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_VRA_Report_ID_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cases_By_Contact</name>
        <label>Get Cases By Contact</label>
        <locationX>743</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Images</name>
        <label>Get Images</label>
        <locationX>776</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Images_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Visual_History__c</field>
            <operator>In</operator>
            <value>
                <elementReference>vra_report_ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__Image_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Image_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Deletion</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Image_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error State</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tspa__Visual_Image__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordings</name>
        <label>Get Recordings</label>
        <locationX>1568</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Recordings_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Visual_Remote_Assistant_Reports__c</field>
            <operator>In</operator>
            <value>
                <elementReference>vra_report_ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__Recording_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Recording_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Deletion</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Recording_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error State</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tspa__Visual_Remote_Assistant_Recording__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VRA_Reports</name>
        <label>Get VRA Reports</label>
        <locationX>743</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_VRA_Reports_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Related_Record_ID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>cases_ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date2</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tspa__Visual_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact_Not_Found</name>
        <label>Contact Not Found</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fill_in_details</targetReference>
        </connector>
        <fields>
            <name>contact_not_found_text</name>
            <fieldText>&lt;p&gt;The contact you were looking for is not in the system, please search again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Selection</name>
        <label>Delete Selection</label>
        <locationX>1172</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Selection_Result</targetReference>
        </connector>
        <fields>
            <name>Please_choose_the_following</name>
            <choiceReferences>Delete_Images</choiceReferences>
            <choiceReferences>Delete_Video_Recordings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the following:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_from_API</name>
        <label>Error from API</label>
        <locationX>1106</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>API_error_message</name>
            <fieldText>&lt;p&gt;{!Delete_Images_action.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_from_API2</name>
        <label>Error from API</label>
        <locationX>1898</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!Delete_Recordings.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_in_details</name>
        <label>Fill In Details</label>
        <locationX>396</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please fill in the following details:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Details</name>
            <fieldText>Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The First Name is invalid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!First_Name}, &quot;^((^|\\s)(((([DdO]&#39;)|Mc|Mac)?[A-ZÃÁÂÀÄÇÉÈÊËÍÌÎÏÕÒÔÓÖÛÚÙÜ][a-zãáàâäçéèêëíìîïñõôóòöûúùü]*)|(da|de|di|do)))*$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Last Name is invalid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Last_Name}, &quot;^((^|\\s)(((([DdO]&#39;)|Mc|Mac)?[A-ZÃÁÂÀÄÇÉÈÊËÍÌÎÏÕÒÔÓÖÛÚÙÜ][a-zãáàâäçéèêëíìîïñõôóòöûúùü]*)|(da|de|di|do)))*$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Session_Date_Range</name>
            <fieldText>Session Date Range</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Session_Date_Range_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date2</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 12, 12);&quot;&gt;The Start Date is invalid.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!start_date_formula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Session_Date_Range_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date2</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;The End Date is invalid.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!end_date_formula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Images_Deleted</name>
        <label>Images Deleted</label>
        <locationX>842</locationX>
        <locationY>2762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your request to delete images has been received. Please allow up to 48 hours for the images to be fully deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Images_List</name>
        <label>Images List</label>
        <locationX>974</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Selected_Images_to_Collection</targetReference>
        </connector>
        <fields>
            <name>images_list2</name>
            <fieldText>&lt;p&gt;Below is the image list from the search result.&lt;/p&gt;&lt;p&gt;Select the images you want to delete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>image_list</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>tspa__Visual_Image__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Images</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-fe09&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ee38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Visual Images Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;tspa__Session_Id__c&quot;,&quot;guid&quot;:&quot;column-bd3e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Session Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;tspa__Related_Tags__c&quot;,&quot;guid&quot;:&quot;column-c126&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Related Tags&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>recordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Images_Found</name>
        <label>No Images Found</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>image_text</name>
            <fieldText>&lt;p&gt;No images were found related to sessions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Recordings_Found</name>
        <label>No Recordings Found</label>
        <locationX>1370</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_recordings</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No video recordings were found related to sessions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_VRA_Reports_Found</name>
        <label>No VRA Reports Found</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>collection_empty</name>
            <fieldText>&lt;p&gt;No sessions were found related to the contact you were looking for.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recordings_Deleted</name>
        <label>Recordings Deleted</label>
        <locationX>1634</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>recordings_deleted_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Your request to delete recordings has been received. Please allow up to 48 hours for the recordings to be fully deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recordings_List</name>
        <label>Recordings List</label>
        <locationX>1766</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Selected_Recordings_to_Collection</targetReference>
        </connector>
        <fields>
            <name>recording_text</name>
            <fieldText>&lt;p&gt;Below is the video recording list from the search result.&lt;/p&gt;&lt;p&gt;Select the recordings you want to delete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recording_list</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>tspa__Visual_Remote_Assistant_Recording__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Recordings</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>recordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-275b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;tspa__SessionId__c&quot;,&quot;guid&quot;:&quot;column-6fb4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SessionId&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>270</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fill_in_details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cases_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedImages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>selectedRecordings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_Remote_Assistant_Recording__c</objectType>
    </variables>
    <variables>
        <name>vra_report_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
