unpackaged/main/default/flows/tspa__VRA_End_User_Session_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Desktop_Sharing_Assignment</name>
        <label>Desktop Sharing Assignment</label>
        <locationX>669</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>SessionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Desktop Sharing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Two_way_Video_Assignment</name>
        <label>Two-way Video Assignment</label>
        <locationX>849</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>SessionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Face Meet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Video_Assignment</name>
        <label>Video Assignment</label>
        <locationX>1023</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>SessionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ComputerIssue</name>
        <choiceText>Computer Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;PC Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doctor</name>
        <choiceText>Doctor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician</name>
        <choiceText>Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_No_Agent_Available_Decision</name>
        <label>Is No Agent Available Decision</label>
        <locationX>1011</locationX>
        <locationY>736</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNoAgentAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScheduleAppointment</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNoAgentAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_Type_Selection</name>
        <label>Session Type Selection</label>
        <locationX>840</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doctor_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Doctor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_way_Video_Assignment</targetReference>
            </connector>
            <label>Doctor</label>
        </rules>
        <rules>
            <name>Computer_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComputerIssue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desktop_Sharing_Assignment</targetReference>
            </connector>
            <label>Computer</label>
        </rules>
        <rules>
            <name>Technician_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Technician</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Video_Assignment</targetReference>
            </connector>
            <label>Technician</label>
        </rules>
    </decisions>
    <interviewLabel>VRA End User Session Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VRA End User Session Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ScheduleAppointment</name>
        <label>Schedule an appointment</label>
        <locationX>1220</locationX>
        <locationY>732</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AgentIsNotAvailable</name>
            <fieldText>&lt;p&gt;Please schedule a meeting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Your_Issue</name>
        <label>Select Your Issue</label>
        <locationX>847</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Session_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Select_Type</name>
            <choiceReferences>Doctor</choiceReferences>
            <choiceReferences>ComputerIssue</choiceReferences>
            <choiceReferences>Technician</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VRA_Request</name>
        <label>VRA Request</label>
        <locationX>849</locationX>
        <locationY>735</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_No_Agent_Available_Decision</targetReference>
        </connector>
        <fields>
            <name>VRARequestButton</name>
            <extensionName>tspa:visualSupportRequestButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queueId</name>
                <value>
                    <elementReference>queueId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionType</name>
                <value>
                    <elementReference>SessionType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeoutAfterNSeconds</name>
                <value>
                    <elementReference>timeoutValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAutolunch</name>
                <value>
                    <elementReference>isAutoLunch</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Video</name>
            <extensionName>tspa:customerVideoDashboard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isNoAgentAvailable</assignToReference>
                <name>isNoAgentFound</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>721</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Select_Your_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isAutoLunch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNoAgentAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G1j000008B2zO</stringValue>
        </value>
    </variables>
    <variables>
        <name>SessionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeoutValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>90</stringValue>
        </value>
    </variables>
</Flow>
