unpackaged/main/default/flows/tspa__VRA_Retrieve_session_Recordings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_session_Recordings</name>
        <label>VRA Retrieve session Recordings</label>
        <locationX>176</locationX>
        <locationY>221</locationY>
        <actionName>tspa__GetRecordingBySessionIdandRefrenceId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Recordings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reference</name>
            <value>
                <elementReference>refrence</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <elementReference>refrenceType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>SessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortOrder</name>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__GetRecordingBySessionIdandRefrenceId</nameSegment>
        <outputParameters>
            <assignToReference>getRecordingData</assignToReference>
            <name>sessionRecordings</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>VRA Retrieve session Recordings {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VRA Get Session Recording Auto launch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recordings</name>
        <label>Create Recordings</label>
        <locationX>177</locationX>
        <locationY>370</locationY>
        <inputReference>getRecordingData</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>VRA_Retrieve_session_Recordings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>getRecordingData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_Remote_Assistant_Recording__c</objectType>
    </variables>
    <variables>
        <name>refrence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refrenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-1</stringValue>
        </value>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
