unpackaged/main/default/flows/tspa__Retrieve_by_specific_Reference_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_Images_by_refrenceId</name>
        <label>VRA Retrieve Images by refrenceId</label>
        <locationX>1037</locationX>
        <locationY>304</locationY>
        <actionName>tspa__ImageFromRefrenceId</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgentName</name>
            <value>
                <elementReference>AgentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ImageComment</name>
            <value>
                <elementReference>ImageComment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ImageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InviteDestination</name>
            <value>
                <elementReference>InviteDestination</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OCRresult</name>
            <value>
                <elementReference>ocrResult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__Refrence_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>TagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromRefrenceId</nameSegment>
        <outputParameters>
            <assignToReference>JobId</assignToReference>
            <name>JobId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>JobStatus</assignToReference>
            <name>JobStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>refrenceIdOutput</assignToReference>
            <name>referenceId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Agent_Name</name>
        <label>Agent Name</label>
        <locationX>509</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>AgentName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Rupal Sharma</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ocr_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Tags</name>
        <label>Get Tags</label>
        <locationX>373</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>TagList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_Comment</name>
        <label>Image Comment</label>
        <locationX>792</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>ImageComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Helpful</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invite_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invite_Destination</name>
        <label>Invite Destination</label>
        <locationX>919</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>InviteDestination</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InviteDestination</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Retrieve_Images_by_refrenceId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocr_Result</name>
        <label>Ocr Result</label>
        <locationX>686</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>ocrResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Helpful</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Image_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Record_to_Attach_Images</name>
        <label>Get Record to Attach Images</label>
        <locationX>477</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Invite_Record.tspa__RecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tags</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <interviewLabel>Retrieve by specific Reference ID {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Retrieve by specific Reference ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session_Invite_Record</name>
        <label>Get Session Invite Record</label>
        <locationX>488</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_to_Attach_Images</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Session_Invite_Record</targetReference>
        </connector>
        <object>tspa__Visual_Image__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Agent will be filtered based on Last Name</description>
        <name>AgentName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageComment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InviteDestination</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ocrResult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refrenceIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TagList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
