unpackaged/main/default/flows/tspa__Update_Session_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>add_semicolon</name>
        <label>add semicolon</label>
        <locationX>793</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>get_Image_record.tspa__Related_Tags__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; {!Add_Tag}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Report_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>does_not_add_semicolon_in_tag</name>
        <label>does not add semicolon in tag</label>
        <locationX>798</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>get_Image_record.tspa__Related_Tags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Tag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Report_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_record_data</name>
        <label>Image record data</label>
        <locationX>811</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>Imagenote.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Imagenote.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Report_Image_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Imagenote.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inserted from Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Image_comment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Session_Summary_description_Assignment</name>
        <label>Session Summary description Assignment</label>
        <locationX>746</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>SummaryDescription.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryDescription.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session_Summary_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryDescription.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inserted from Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_session_summary_description</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ImageComment</name>
        <choiceText>Image Comment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Image</stringValue>
        </value>
    </choices>
    <choices>
        <name>SessionSummaryDescription</name>
        <choiceText>Session Summary Description</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>summary</stringValue>
        </value>
    </choices>
    <choices>
        <name>TagUpdate</name>
        <choiceText>Tag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tag</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_for_tag_value</name>
        <label>check for tag value</label>
        <locationX>563</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_semicolon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Image_record.tspa__Related_Tags__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_semicolon</targetReference>
            </connector>
            <label>have semicolon</label>
        </rules>
        <rules>
            <name>does_not_have_semicolon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Image_record.tspa__Related_Tags__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>does_not_add_semicolon_in_tag</targetReference>
            </connector>
            <label>does not have semicolon</label>
        </rules>
    </decisions>
    <decisions>
        <name>getting_outcome_from_Feature_select_screen</name>
        <label>getting outcome from Feature select screen</label>
        <locationX>359</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TagUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tag</targetReference>
            </connector>
            <label>Tag</label>
        </rules>
        <rules>
            <name>Image_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ImageComment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Image_Comment</targetReference>
            </connector>
            <label>Image Comment</label>
        </rules>
        <rules>
            <name>Session_Summary_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SessionSummaryDescription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Session_Summary_Description</targetReference>
            </connector>
            <label>Session Summary Description</label>
        </rules>
    </decisions>
    <interviewLabel>Static Resource not found: {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Session Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insert_Image_comment_Record</name>
        <label>insert Image comment Record</label>
        <locationX>911</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Success_Message_Display</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <inputReference>Imagenote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insert_session_summary_description</name>
        <label>insert session summary description</label>
        <locationX>887</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Success_Message_Display</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <inputReference>SummaryDescription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Image_record</name>
        <label>get Image record</label>
        <locationX>463</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_tag_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Name1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_Image__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Report_Image_Record</name>
        <label>get Report Image Record</label>
        <locationX>706</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Image_record_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_Image__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Summary_record</name>
        <label>Get Session Summary record</label>
        <locationX>624</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Summary_description_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Session_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Session_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Report_Image</name>
        <label>Update Report Image</label>
        <locationX>993</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Success_Message_Display</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <inputReference>get_Image_record</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message_Display</name>
        <label>Error Message Display</label>
        <locationX>1118</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_feature_to_Update</name>
        <label>Select feature to Update</label>
        <locationX>170</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getting_outcome_from_Feature_select_screen</targetReference>
        </connector>
        <fields>
            <name>Feature</name>
            <choiceReferences>TagUpdate</choiceReferences>
            <choiceReferences>ImageComment</choiceReferences>
            <choiceReferences>SessionSummaryDescription</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feature</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Display</name>
        <label>Success Message Display</label>
        <locationX>1154</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Record Updated Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Image_Comment</name>
        <label>Update Image Comment</label>
        <locationX>606</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Report_Image_Record</targetReference>
        </connector>
        <fields>
            <name>File_Name</name>
            <dataType>String</dataType>
            <fieldText>File Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_Comment</name>
            <dataType>String</dataType>
            <fieldText>Update Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Session_Summary_Description</name>
        <label>Update Session Summary Description</label>
        <locationX>504</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Session_Summary_record</targetReference>
        </connector>
        <fields>
            <name>Session_Id</name>
            <dataType>String</dataType>
            <fieldText>Session Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_Description</name>
            <dataType>String</dataType>
            <fieldText>Update Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Tag</name>
        <label>Update Tag</label>
        <locationX>343</locationX>
        <locationY>573</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Image_record</targetReference>
        </connector>
        <fields>
            <name>File_Name1</name>
            <dataType>String</dataType>
            <fieldText>File Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Tag</name>
            <dataType>String</dataType>
            <fieldText>Add Tag</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Select_feature_to_Update</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Errordisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Imagenote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
    <variables>
        <name>ImageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>SummaryDescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
</Flow>
