unpackaged/main/default/flows/tspa__Get_Image_by_Session_ID_image_file_name_metadata_comment_OCR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_Images_by_Session_ID_Image_File_name_and_description</name>
        <label>VRA Retrieve Images by SessionID,ImageComment,OCRresult,Tags and fileName</label>
        <locationX>758</locationX>
        <locationY>180</locationY>
        <actionName>tspa__ImageFromSessionIdFileNameDescription</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>$Record.tspa__File_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>imageComment</name>
            <value>
                <elementReference>ImageComment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ocrResult</name>
            <value>
                <elementReference>OCRresult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__sessionId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>Tag_List</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdFileNameDescription</nameSegment>
        <outputParameters>
            <assignToReference>JobId</assignToReference>
            <name>jobId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>JobStatus</assignToReference>
            <name>jobStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SessionIdOutput</assignToReference>
            <name>sessionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Image_Comment</name>
        <label>Image Comment</label>
        <locationX>499</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>ImageComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Helpful</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ocr_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocr_Result</name>
        <label>Ocr Result</label>
        <locationX>629</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>OCRresult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Helpful</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Retrieve_Images_by_Session_ID_Image_File_name_and_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tag</name>
        <label>Tag</label>
        <locationX>383</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>Tag_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Image_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Record_to_Attach_Images</name>
        <label>Get Record to Attach Images</label>
        <locationX>271</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Invite_Record.tspa__RecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tag</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <interviewLabel>Get Image by Session ID + image file name + metadata (comment \ OCR) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Image by Session ID + image file name + metadata (comment \ OCR)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session_Invite_Record</name>
        <label>Get Session Invite Record</label>
        <locationX>70</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_to_Attach_Images</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Session_Invite_Record</targetReference>
        </connector>
        <object>tspa__Visual_Image__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ImageComment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OCRresult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tag_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
