unpackaged/main/default/flows/tspa__VRA_Session_Request_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Session_Initiation</name>
        <label>Session Initiation</label>
        <locationX>499</locationX>
        <locationY>612</locationY>
        <actionName>tspa__VRAinviteAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clientLanguage</name>
            <value>
                <elementReference>Client_Language1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inviteType</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionType</name>
            <value>
                <elementReference>StartMode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__VRAinviteAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Email1</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>SessionInvite</name>
        <choiceText>Session Invite</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SessionInvite</elementReference>
        </value>
    </choices>
    <choices>
        <name>SMS1</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VisualJourney</name>
        <choiceText>Visual Journey</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VisualJourney</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_support_request_Null</name>
        <label>Is support request Null</label>
        <locationX>1025</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Get_Session_Invite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Support_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invite_Sent_SuccessFully</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>593</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Initiation.tspa__isOpened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_VRA_Session_Invite_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Initiation.tspa__isOpened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsValidForInvite</name>
        <label>IsValidForInvite</label>
        <locationX>264</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Session_Initiation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conversation_Ended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Support_Request_After_Send.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Conversation</targetReference>
            </connector>
            <label>Conversation Ended</label>
        </rules>
        <rules>
            <name>Session_is_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Invite_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SessionInProgressMessage</targetReference>
            </connector>
            <label>Session is in Progress</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClientLanguage</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>tspa__Remote_Assistant_MultiLanguage__c</object>
        <valueField>tspa__Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SessionType</name>
        <dataType>String</dataType>
        <displayField>tspa__Modified_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__ActiveSession__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Modified_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>tspa__SessionTypeMapping__c</object>
        <sortField>tspa__Modified_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>tspa__Modified_Value__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CustomerSessionLink</name>
        <dataType>String</dataType>
        <expression>IF ( 
OR (ISBLANK({!Session_Initiation.tspa__CustomerDirectLink__c}), {!Session_Initiation.tspa__CustomerDirectLink__c} == &#39;https://&#39; ),
 {!Session_Initiation.tspa__customerLink__c}, 
{!Session_Initiation.tspa__CustomerDirectLink__c} 
)</expression>
    </formulas>
    <interviewLabel>End User Session Request Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>End User Session Request Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_VRA_Session_Invite_Record</name>
        <label>Create VRA Session Invite Record</label>
        <locationX>762</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Is_support_request_Null</targetReference>
        </connector>
        <inputReference>Session_Initiation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Session_Invite</name>
        <label>Get Session Invite</label>
        <locationX>1031</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Support_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__isOpened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Invite_0</name>
        <label>Get Session Invite</label>
        <locationX>249</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsValidForInvite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__isOpened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Request</name>
        <label>Get Support Request</label>
        <locationX>250</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Invite_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_Support_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Request_After_Send</name>
        <label>Get Support Request</label>
        <locationX>250</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session_Invite_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_Support_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Support_Request</name>
        <label>Update Support Request</label>
        <locationX>1186</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>Invite_Sent_SuccessFully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Support_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tspa__Session__c</field>
            <value>
                <elementReference>Get_Session_Invite.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tspa__Visual_Support_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>702</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!Session_Initiation.tspa__Error_Message_Body__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invite_Sent_SuccessFully</name>
        <label>Invite Sent SuccessFully</label>
        <locationX>1187</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Agent_Link</name>
            <fieldText>&lt;p&gt;Agent Link :{!Session_Initiation.tspa__agentLink__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Link</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Customer Link :  &lt;/span&gt;{!CustomerSessionLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invite_Sent_SuccessFully_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invite_Sent_SuccessFully_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndConversationMessage</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Terminate Omni-Channel Session:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EndConversationButton</name>
                    <extensionName>tspa:EndConversationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Support_Request.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Conversation</name>
        <label>No Conversation</label>
        <locationX>447</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Support_Request</targetReference>
        </connector>
        <fields>
            <name>NoConversationInProgress</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;There is no conversation in progress. Please send a new invite.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Invite_Screen</name>
        <label>Session Invite Screen</label>
        <locationX>251</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Support_Request_After_Send</targetReference>
        </connector>
        <fields>
            <name>StartMode</name>
            <choiceReferences>SessionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Session Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Language1</name>
            <choiceReferences>ClientLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Session_Invite_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Session_Invite_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndConversationText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Terminate Omni-Channel Session:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EndConversation</name>
                    <extensionName>tspa:EndConversationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Support_Request.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Support_Request.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SessionInProgressMessage</name>
        <label>SessionInProgressMessage</label>
        <locationX>45</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Support_Request</targetReference>
        </connector>
        <fields>
            <name>SessionInProgress</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;A session is still in progress. Please end the session before sending a new session invite.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>124</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Support_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
