unpackaged/main/default/flows/tspa__Get_Image_By_Session_ID_Tags_w_wo_tags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_Images_by_SessionID_and_Tags</name>
        <label>VRA Retrieve Images by SessionID and Tags</label>
        <locationX>688</locationX>
        <locationY>298</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Session_Invite_Record.tspa__sessionId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>Tag_List</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <outputParameters>
            <assignToReference>JobId</assignToReference>
            <name>jobId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>JobStatus</assignToReference>
            <name>jobStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SessionIdOutput</assignToReference>
            <name>sessionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Tags</name>
        <label>Assign Tags</label>
        <locationX>524</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>Tag_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Fault Found (NFF)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tag_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VRA_Retrieve_Images_by_SessionID_and_Tags</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>get_Record_Id</name>
        <label>get Record Id</label>
        <locationX>372</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Invite_Record.tspa__RecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tags</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>It will save images by the filter of Tags present on image data.</description>
    <interviewLabel>Get Image By Session ID + {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Image By Session ID + Tags (w / wo tags)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session_Invite_Record</name>
        <label>Get Session Invite Record</label>
        <locationX>161</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__RecordId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__TechSeeSessions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Session_Invite_Record</targetReference>
        </connector>
        <object>tspa__Visual_Image__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tag_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
