unpackaged/main/default/flows/tspa__Get_Session_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>fetch_Record</name>
        <label>fetch Record</label>
        <locationX>544</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>GetHistoryRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Image_Report_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Session_Id_Assignment</name>
        <label>Session Id Assignment</label>
        <locationX>176</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>61669eaaa181382e0c189a67</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Image_Report_Records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Get Session Report {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Session Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Image_Report_Records</name>
        <label>Get Image Report Records</label>
        <locationX>348</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fetch_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Session_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_History__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Session_Id_Assignment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_History__c</objectType>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
